# ENV
.env

# Node
node_modules
package-lock.json

# Editor
.vscode
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Tests
coverage


node_modules
../backend/obtenerHashToAdmin.js
../backend/obtenerHashToTest.js
